<!DOCTYPE html>
<html>
  <head>
    <title>Event Mania | Admin Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="icon" href="../styles/icons/site_icon.png" />
  </head>
  <body style="background-color: #1a1a1a;">
    <div id="admin_vue">
      <!-- Admin Dashboard -->
      <div id="admin-dashboard" style="padding: 0px 20px">
        <!-- Create Event -->
        <div class="admin-menu-btn" v-on:click="update_panel(1)">
          <img src="../styles/icons/new_event.png" alt="" style="margin-top: 15px;">
          <p style="margin-top: 0px;">Create Event</p>
        </div>
        <!-- Update Event -->
        <div class="admin-menu-btn" v-on:click="update_panel(2)">
          <img src="../styles/icons/update_event.png" alt="" style="margin-top: 15px;">
          <p style="margin-top: 0px;">Update Event</p>
        </div>
        <!-- Delete Event -->
        <div class="admin-menu-btn" v-on:click="update_panel(3)">
          <img src="../styles/icons/delete_event.png" alt="" style="margin-top: 15px;">
          <p style="margin-top: 0px;">Delete Event</p>
        </div>
        <!-- Update Featured -->
        <div class="admin-menu-btn" v-on:click="update_panel(4)">
          <img src="../styles/icons/edit_featured.png" alt="" style="margin-top: 15px;">
          <p style="margin-top: 0px;">Update Featured</p>
        </div>
        <!-- dashboard -->
        <a href="index.html">
          <div class="admin-menu-btn" style="float: right">
            <img src="../styles/icons/return.png" alt="" style="margin-top: 15px;">
            <p style="margin-top: 0px;">Return Home</p>
          </div>
        </a>
      </div>
      <div id="panel">
        <!-- Create Event -->
        <div v-show="panel_view == 1" class="admin_panel">
          <h1>Create Event</h1>
          <div class="">
            <input class="panel_textbox" v-model="event_name" type="text" placeholder="Event Name"/><br />
            <input class="panel_textbox" v-model="event_location" type="text" placeholder="Event Location"/><br />
            <input class="panel_textbox" v-model="event_time" type="text" placeholder="Event Time"/><br />
            <textarea id="panel_textarea" v-model="event_details" name="name" rows="8" cols="80" placeholder="Event Details"></textarea><br />
            <button v-on:click="create_event" type="button">Create</button>
            <button type="button">Cancel</button>
          </div>
        </div>
        <!-- Update Event -->
        <div v-show="panel_view == 2" class="admin_panel">
          <h1>Update Event</h1>
          <div style="float: left; width: 38%; height: 400px; overflow: auto;" class="">
            <template v-for="(value, key) in event_list">
              <p class="event_btn" v-on:click="get_update_event(value, key)">{{value['title']}}</p>
            </template>
          </div>
          <div style="float: right; width: 60%;">
            <input v-model="update_name" class="panel_textbox" type="text" placeholder="Event Name"/><br />
            <input v-model="update_location" class="panel_textbox" type="text" placeholder="Event Location"/><br />
            <input v-model="update_time" class="panel_textbox" type="text" placeholder="Event Time (YYYY-MM-DD)"/><br />
            <textarea v-model="update_detail" id="panel_textarea" style="width: 100%" name="name" rows="8" cols="80" placeholder="Event Details"></textarea><br />
            <button v-on:click="update_event" type="button">Update</button>
            <button type="button">Cancel</button>
          </div>
        </div>
        <!-- Delete Event -->
        <div v-show="panel_view == 3" class="admin_panel">
          <h1>Delete Event</h1>
          <div style="float: left; width: 38%; height: 400px; overflow: auto;" >
            <template v-for="(value, key) in event_list">
              <p class="event_btn" v-on:click="get_update_event(value, key)">{{value['title']}}</p>
            </template>
          </div>
          <div style="float: right; width: 60%;" class="delete_panel">
            <p><span class="detail_spec">Event Name</span> <br /> {{update_name}}</p>
            <p><span class="detail_spec">Event Venue</span> <br /> {{update_location}}</p>
            <p><span class="detail_spec">Event Time</span> <br /> {{update_time}}</p>
            <p><span class="detail_spec">Event Detail</span> <br /> {{update_detail}}</p>
            <button v-on:click="delete_event" type="button">Delete</button>
          </div>
        </div>
        <!-- Update Featured Event -->
        <div v-show="panel_view == 4" class="admin_panel">
          <h1>Update Featured Event</h1>
          <div style="float: left; width: 38%; height: 400px; overflow: auto;" class="">
            <template v-for="(value, key) in event_list">
              <p class="event_btn" v-on:click="get_update_event(value, key)">{{value['title']}}</p>
            </template>
          </div>
          <div style="float: right; width: 60%;" class="delete_panel">
            <p><span class="detail_spec">Event Name</span> <br /> {{update_name}}</p>
            <p><span class="detail_spec">Event Venue</span> <br /> {{update_location}}</p>
            <p><span class="detail_spec">Event Time</span> <br /> {{update_time}}</p>
            <p><span class="detail_spec">Event Detail</span> <br /> {{update_detail}}</p>
            <button v-on:click="update_featured" type="button">Update Featured</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/vue_app.js"></script>
  </body>
</html>
